.mainDiv{
    font-size: 60px;
}
.superScript
{
    display: block;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
    font-size: 30px;
}
.subScript
{
    display: block;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    font-size: 30px;
}
.superSubScript
{
    display: inline-block;
    vertical-align: middle;
}